/* jira */
div#ghx-detail-contents.ghx-detail-contents.issue-container {
  /*background: linear-gradient(90deg, #fefefe 40px, #fefefe 0);*/
  background: linear-gradient(90deg, #050505 40px, #050505 0);
}


/* taiga.io */
tg-card.card {
  box-shadow: none;
}

tg-card.card:hover {
  box-shadow: 3px 3px 6px #000000;
}

tg-project-menu {
  background-color: #474758;
}

sidebar.menu-tertiary.sidebar {
  background-color: #474758;
}


/* material icons fix */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
