span[vimbhint^='label'] {
  /* text-transform: uppercase !important; */
  background-color: #282a36 !important;
  color: #bd93f9 !important;
  font-size: 120% !important;
  opacity: 1 !important;
  margin-top: 5px !important;
}

*[vimbhint^='hint'] {
  background-color: inherit !important;
  color: inherit !important;
}
